body {
background-color: blanchedalmond; 
color: white; 
}

.row {
  align-content: center;
  background-color: rebeccapurple;
}

.container {
background-color: rebeccapurple;
text-align: center;
color: black;
}

.jumbotron {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwkEiKWROStiaDlzZPRoBNyTGGeihH7RE38Y6XRfWED-Rnwl7Zcw&s");
  background-color: rgb(144, 116, 170);
  color: rgb(49, 4, 49);
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.well{
  display: flex center;
  background-color: rgb(144, 116, 170);
}

#instructions {
  color: rebeccapurple; 
  text-align: center;
}

#rollBtn {
  background-color: rgb(49, 99, 48);
}
#holdBtn {
  background-color: rgb(212, 75, 208);
}
.btn {
  display: flex, center;
  margin: 10px;
  padding: 20px;
  background-color: rgb(224, 42, 42);
}

.btn:hover {
  background-color: rgb(255, 0, 0);
}